<div>
  <p>Hi &nbsp;<%= user.name %>!</p>
  <p>Congratulations! You have successfully signed in.</p>
  <p>
    Keep using the Node authentication application and explore all its features.
  </p>
  <p>Thanks</p>
</div>
