<!-- Header -->
<header class="header">
  <div class="icon-container">
    <h1 class="header-text"><%= title %></h1>
  </div>
  <% if(locals.user) { %>
  <a class="sign-out" href="/sign-out">Sign Out</a>
  <% } %>
</header>
