<!-- Importing CSS file for the forgot password page -->
<link rel="stylesheet" href="/css/forgot_password.css" />

<!-- Forgot password page content -->
<div class="signIn-header-container">
  <p class="sign-in-header">Forgot Password</p>
  <div class="signIn-container">
    <!-- Forgot password form -->
    <form action="/create-password" method="POST">
      <!-- Email input field -->
      <div class="input-container">
        <i class="fas fa-envelope icon"></i>
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="input-email"
          required
        />
      </div>
      <!-- Submit button -->
      <input type="submit" value="Submit" class="input-submit" />
    </form>
  </div>
</div>
