<!-- Importing CSS file for the reset password page -->
<link rel="stylesheet" href="/css/reset_password.css" />

<!-- Reset password page content -->
<div class="signIn-header-container">
  <p class="sign-in-header">Reset your Password</p>
  <div class="signIn-container">
    <form action="/profile/create-password" method="POST">
      <!-- New password input field -->
      <div class="input-container">
        <i class="fas fa-lock icon"></i>
        <input
          type="password"
          name="new_password"
          placeholder="New Password"
          class="input-email"
          required
        />
      </div>
      <!-- Confirm password input field -->
      <div class="input-container">
        <i class="fas fa-lock icon"></i>
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          class="input-email"
          required
        />
      </div>
      <!-- Submit button -->
      <input type="submit" value="Submit" class="input-submit" />
    </form>
  </div>
</div>
