<link rel="stylesheet" href="/css/user_sign_in.css" />

<div class="signIn-header-container">
  <p class="sign-in-header">Sign In</p>
  <p class="signUP-text">
    <a href="/sign-up" class="signUP-link">Sign up</a>
  </p>
  <div class="signIn-container">
    <a class="google-signin" href="auth/google">
      Sign In/Sign Up with Google
    </a>
    <div class="or-text-container">
      <p class="or-text"></p>
      <span class="span-text"> OR </span>
      <p class="or-text"></p>
    </div>
    <form action="/create-session" method="POST">
      <div class="input-container">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="input-email"
          required
        />
      </div>
      <div class="input-container">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="input-email"
          required
        />
      </div>
      <input type="submit" value="Sign In" class="input-submit" />
    </form>
    <a href="forgot-password" class="forgot-password">Forgot Password?</a>
  </div>
</div>
