<!-- Importing CSS file for the sign-up page -->
<link rel="stylesheet" href="/css/user_sign_up.css" />

<!-- Sign-up page content -->
<div class="signIn-header-container">
  <p class="sign-in-header">Sign Up to Nodejs Authentication</p>
  <div class="signIn-container">
    <!-- Sign-up with Google button -->
    <a class="google-signin" href="auth/google">
      <i class="fab fa-google"></i>
      Sign In/Sign Up with Google
    </a>
    <!-- Or separator -->
    <div class="or-text-container">
      <p class="or-text"></p>
      <span class="span-text"> OR </span>
      <p class="or-text"></p>
    </div>
    <!-- Sign-up form -->
    <form action="/create" method="POST">
      <!-- Name input field -->
      <div class="input-container">
        <i class="fas fa-user icon"></i>
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="input-email"
          required
        />
      </div>
      <!-- Email input field -->
      <div class="input-container">
        <i class="fas fa-envelope icon"></i>
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="input-email"
          required
        />
      </div>
      <!-- Password input fields -->
      <div class="input-container">
        <i class="fas fa-lock icon"></i>
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="input-email"
          required
        />
      </div>
      <div class="input-container">
        <i class="fas fa-lock icon"></i>
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          class="input-email"
          required
        />
      </div>
      <!-- Sign Up button -->
      <input type="submit" value="Sign Up" class="input-submit" />
    </form>
  </div>
</div>
