.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  padding: 10px;
  background-color: #214eff;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  color: white;
  font-size: 32px;
}
