.signIn-header-container {
  margin: 80px auto;
  text-align: center;
}

.signIn-container {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.reset-password {
  color: #214eff;
  font-size: 18px;
  font-family: bold;
  text-decoration: none;
  cursor: pointer;
}
